<h2>Name: <%= @passenger.name %></h2>

<article>
  <h3>List of Flights</h3>
    <% @passenger.flights.each do |flight| %>
    <%= link_to "#{flight.number}", "/flights/#{flight.id}" %>
    <% end %>
    <%= link_to "Add Flight", "/passengers/#{@passenger.id}/edit" %>
</article>
